
.areaContainer {
  display: flex;
}

.variableArea {
  background-color: yellow;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  width: 20vw;
  min-width: 150px;
  height: 100vh;
}

.variable {
  border-radius: 6px;
  display: flex;
  height: 80px;
  min-height: 80px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: rgb(0, 255, 255);
}

.graphArea {
  /* display: flex; */
  /* flex-flow: column; */
  width: 80vw;
}
