/* [theme="light"] {
  styles here
} */

:root {
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 6px 0px, rgba(0, 0, 0, 0.12) 0px 1px 9px 0px;
  /* --primary-color: rgb(212, 168, 45); */
  --primary-color: rgb(214, 183, 98);
  --background-color: rgb(245, 236, 211);
  --secondary-color: rgb(255, 251, 239);
  --theme-toggle-color: rgb(255, 251, 239);
  --dropdown-graph-type-text: black;
}

[theme="dark"] {
  --primary-color: rgb(179, 141, 38);
  --background-color: rgb(63, 60, 53);
  --secondary-color: rgb(112, 110, 104);
  --theme-toggle-color: rgb(245, 236, 211);
  --dropdown-graph-type-text: rgb(221, 213, 191);
}

.App {
  font-family: ubuntu;
  background-color: var(--background-color);
}

.navBar {
  background-color: var(--primary-color);
  height: 80px;
  width: 100%;
  /* margin-bottom: 4px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mcmLogo {
  height: 80px;
}

.title {
  font-family: ubuntu;
  font-size: 40px;
  margin: 16px;
}

.gitHubLogo {
  height: 40px;
  margin: 20px;
  margin-right: 0;
}

.linkedInLogo {
  height: 40px;
  margin: 20px;
}

/* .themeToggleContainer {

} */

.themeToggleButton {
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 20px;
  border: 0;
  margin: 20px;
  background-color: var(--theme-toggle-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .themeToggleIcon {
  
} */

.areaContainer {
  display: flex;
}

.variableArea {
  background-color: var(--secondary-color);
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  width: 20vw;
  min-width: 150px;
  height: calc(100vh - 80px - 8px - 8px);
  border-radius: 4px;
  margin: 8px;
  box-shadow: var(--box-shadow);
}

.variable {
  border-radius: 6px;
  display: flex;
  height: 80px;
  min-height: 80px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: rgba(255, 140, 0, 0.39);
  box-shadow: var(--box-shadow);
  position: relative;
}

.deleteVariableButton {
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 10px;
  border: 0;
}

.dropdownLabelContainer {
  display: flex;
  flex-flow: wrap;
  max-height: 40px;
  max-width: 140px;
}

.dropdownLabel {
  font-size: 14px;
  margin: 6px;
}

.dropdownButton {
  cursor: pointer;
  margin: 6px;
  margin-bottom: 0 !important;
  border: 0;
}

.dropdownList {
  list-style-type: none;
  margin: 0;
  margin-left: 6px !important;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  width: 160px;
  z-index: 2;
  flex-flow: column;
  overflow-y: auto;
  height: 30vh;
  position: absolute;
}

.options {
  font-size: 14px;
  padding: 6px 6px;
  margin: 2px;
  background-color: red;
  border-radius: 6px;
  cursor: pointer;
  z-index: 2;
  display: flex;
}

.newVariableButton {
  cursor: pointer;
  border-width: 0 !important;
  border-radius: 6px;
  display: flex;
  height: 80px;
  min-height: 80px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: rgba(0, 255, 115, 0.428);
  box-shadow: var(--box-shadow);
}

.graphArea {
  /* display: flex; */
  /* flex-flow: column; */
  height: 100%;
  width: 80vw;
}

.dropdownGraphType {
  font-family: ubuntu;
  font-size: 40px;
  border: 0;
  border-radius: 4px;
  margin: 8px;
  margin-left: 0;
  background-color: var(--secondary-color);
  color: var(--dropdown-graph-type-text);
  font-weight: bold;
}
